body{
    background-color: gainsboro;
}
.post{
    width: 600px;
    margin: 0 auto;
    background-color: white;
}
.post-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.post-header-brand{
    display: flex;
    align-items: center;
    font-size: 45px;
}
.post-header-brand p{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.post-header-elipsis{
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-items: flex-end;

}
.post-img img{
    width: 100%;
    
}
.post-icons{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.post-bookmark{
    display: flex;
    font-size: 30px;
    align-items: center;
}
.post-body{
    background-color: white;
    padding: 10px;
}

